/* RESPONSIVE DESIGN QUERIES */

/* ************************** */
/* ***** TABLET CUSTOM *******/
/* ************************** */
@media only screen and (min-width: 768px) {
  /* HIDE THE HAMBURGER NAV BAR */

  .navbar {
    background-color: (--olive-drab-3);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style: none;
  }
  .fa-bars {
    display: none;
  }
  /* Name and Title Section */
  .name{
    font-size: 40px;
    margin: 5px;
  }
  .namebanner{
    grid-column: 1 / 4;
  }
 
  /* About Section */
  .aboutcontainer{
    grid-column: 1/4;
    font-size: 20px;
  }
  .about-content{
    font-size: 20px;
  }
/* Projects Section */
  .projectsbox{
    grid-column: 1/4;
  }
  .project1 {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    grid-gap: 5px;
  }

  .project2 {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    text-align: center;
    background-color: var(--indigo-dye);
    grid-gap: 5px;
  }
  .project3 {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
    text-align: center;
    background-color: var(--indigo-dye);
    grid-gap: 5px;
  }
/* Skills and Contact Section */
  .toolbox-container {
    grid-column: 1 / 4;
    grid-row: 8 / 9;
    padding-top: 10vh;
  }
  .contact-container {
    grid-column: 1 / 4;
    grid-row: 9 / 10;
    padding-top: 10vh;
  }
}
/* ************************** */
/* ***** DESKTOP CUSTOM *******/
/* ************************** */
@media only screen and (min-width: 996px) {
  .main-content{
    background-repeat: no-repeat ;
    background-size: 350vh;
   
  }
  .name{
    font-size: 40px;
   
  }
  .namebanner{
    grid-column: 1/4;
    
  }
  
  .projectsbox {
    grid-column: 1 / 4;
  }
  .toolbox-container {
    grid-column: 1 / 4;
    grid-row: 8 / 9;
    padding-top: 10vh;
  }
  .toolbox-container .icon_container{
    background-color: whitesmoke;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
     
  }
  .contact-container {
    grid-column: 1 / 4;
    grid-row: 9/ 10;
    padding-top: 10vh;
  }
 
  .about-content{
    font-size: 30px;
  }

  
}
