

/* TABLET */
@media only screen and (min-width: 768px) {
  /* HIDE THE HAMBURGER NAV BAR */

  .navbar {
    background-color: var(--medium-slate-blue);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style: none;
  }
.fa-bars{
  display: none;
}
  .project1 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    grid-gap: 5px;
  }

  .project2 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    text-align: center;
    background-color: var(--mellow-apricot);
    grid-gap: 5px;
  }
  .project3 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    text-align: center;
    background-color: var(--mellow-apricot);
    grid-gap: 5px;
  }


}
/* DESKTOP */
@media only screen and (min-width: 992px) { 

  .projectsbox{
 grid-column: 1 / 4;
}



}