/* My Color Palette  */

body {
  --lavender-blue: #cbc5eaff;
  --medium-slate-blue: #7161efff;
  --davys-grey: #605f5eff;
  --maize-crayola: #ffcf56ff;
  --mellow-apricot: #f4b266ff;
}
header {
  margin: 1px;
}
/* Navigation Bar */
.navbar {
  background-color: var(--medium-slate-blue);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  list-style: none;
}
li {
  margin: 10px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: var(--mellow-apricot);
}

/* Main container */

main {
  background-color: var(--davys-grey);
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 2fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
  margin-bottom: 600px;
}
/* *****************************************/
/* Image Container. */
img {
  border-style: outset;
  border-radius: 50%;
  height: 230px;
  background-color: var(--medium-slate-blue);
}
.imagecontainer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.namebanner {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  text-align: center;
}
.aboutcontainer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  
}
.about{
  text-align: center;
}

.projectsbox {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: center;
}

h3 {
  font-size: 33px;
}
.project1 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  text-align: center;
}
.project2 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  text-align: center;
}
.project3 {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  text-align: center;
}


