
                                                                          /* MOBILE DEFAULT DESIGN*/
/* My Color Palette  */
body {
  --lavender-blue: #cbc5eaff;
  --medium-slate-blue: #7161efff;
  --davys-grey: #605f5eff;
  --maize-crayola: #ffcf56ff;
  --mellow-apricot: #f4b266ff;
}
header {
  margin: 1px;
  background-color: var(--medium-slate-blue);
}
.navbar {
  background-color: var(--medium-slate-blue);
  font-size: 20px;
  display: none;
  flex-direction: row;
  text-align: center;
  list-style: none;
}
/* Hamburguer menu */
.fa-bars{
 color:var(--mellow-apricot);
 font-size: 50px;
 background-color: var(--medium-slate-blue);
 padding: 10px
}
/* *****************************************/
/* Image Container. */
img {
  border-style: outset;
  border-radius: 50%;
  height: 30vh;
  background-color: var(--medium-slate-blue);
}
.imagecontainer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ***********************Banner********************* */
.namebanner {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  background-color: var(--medium-slate-blue);
}
/* *********************About*********************** */
.aboutcontainer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.about {
  text-align: center;
  background-color: var(--medium-slate-blue);
}
/* **********************Project Section************** */
.projectsbox {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: center;
  background-color: var(--medium-slate-blue);
  border-style: outset;
  grid-gap: 5px;
}

h3 {
  font-size: 33px;
}

li {
  margin: 10px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: var(--mellow-apricot);
}
/* Main Container */
.main-content {
  background-color: var(--davys-grey);
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  margin-bottom: 600px;
  grid-gap: 5px;
}

.project1 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  text-align: center;
  background-color: var(--mellow-apricot);
}
.project2 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  text-align: center;
  background-color: var(--mellow-apricot);
}
.project3 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  text-align: center;
  background-color: var(--mellow-apricot);
}
.navbar {
  display: none;
}
img {
  height: 30vh;
  padding-top: 10px;
}
.imagecontainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

